In [1]:
import pandas as pd
import numpy as np
import warnings
from matplotlib import pyplot
from pandas import Series, datetime
from pandas.tools.plotting import scatter_matrix, autocorrelation_plot
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
import random
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from xgboost import XGBClassifier
import seaborn as sns

/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [7]:
# Loading the dataset to a dataframe
price_df = pd.read_csv('cimb_clean.csv', parse_dates=[0])
news_df = pd.read_csv('cimb_news.csv', parse_dates=[0])

In [8]:
print(price_df.shape)
print(price_df.dtypes)
print(news_df.shape)
print(news_df.dtypes)

(239, 11)
Date          datetime64[ns]
High                 float64
Low                  float64
Open                 float64
Close                float64
Volume               float64
yhat                 float64
us_china             float64
trump                float64
malaysia             float64
target_cls           float64
dtype: object
(74, 3)
Date     datetime64[ns]
Title            object
Score             int64
dtype: object

In [18]:
merged_dataframe = news_df[['Date', 'Score']].merge(price_df, how='inner', on='Date', left_index=True)
print(merged_dataframe.shape)
merged_dataframe.head()

(56, 12)

,Date,Score,High,Low,Open,Close,Volume,yhat,us_china,trump,malaysia,target_cls
232,2017-12-07,1,6.04,5.97,6.00,5.97,23724000.0,6.059920,43.571429,13.714286,47.428571,0.0
231,2017-12-06,0,6.02,5.95,5.95,5.97,21382900.0,6.038819,41.428571,14.285714,47.571429,0.0
227,2017-11-30,0,6.09,5.94,5.94,6.05,47423000.0,5.970498,40.571429,16.857143,44.571429,0.0
225,2017-11-28,1,5.97,5.93,5.95,5.93,11081800.0,5.948344,44.285714,17.428571,42.285714,1.0
222,2017-11-23,0,6.06,5.95,5.97,5.98,6929200.0,5.952610,53.571429,17.142857,39.571429,0.0

In [21]:
merged_dataframe = price_df.merge(news_df[['Date','Score']], how='left', on='Date',left_index=True)
print(merged_dataframe.shape)
merged_dataframe.head()

(244, 12)

,Date,High,Low,Open,Close,Volume,yhat,us_china,trump,malaysia,target_cls,Score
73,2017-01-02,4.51,4.51,4.51,4.51,0.0,4.422928,62.0,58.428571,39.428571,1.0,NaN
73,2017-01-03,4.57,4.51,4.53,4.54,12056200.0,4.438930,64.0,61.857143,39.857143,1.0,NaN
73,2017-01-04,4.62,4.54,4.54,4.60,19551700.0,4.461632,66.0,65.285714,40.285714,1.0,NaN
73,2017-01-05,4.67,4.60,4.62,4.66,20520700.0,4.490498,68.0,68.714286,40.714286,1.0,NaN
73,2017-01-06,4.74,4.66,4.66,4.74,18234800.0,4.515630,70.0,72.142857,41.142857,1.0,NaN

In [26]:
merged_dataframe['Score'].fillna(0, inplace=True)
print(merged_dataframe.shape)

(244, 12)

,Date,High,Low,Open,Close,Volume,yhat,us_china,trump,malaysia,target_cls,Score
73,2017-01-02,4.51,4.51,4.51,4.51,0.0,4.422928,62.000000,58.428571,39.428571,1.0,0.0
73,2017-01-03,4.57,4.51,4.53,4.54,12056200.0,4.438930,64.000000,61.857143,39.857143,1.0,0.0
73,2017-01-04,4.62,4.54,4.54,4.60,19551700.0,4.461632,66.000000,65.285714,40.285714,1.0,0.0
73,2017-01-05,4.67,4.60,4.62,4.66,20520700.0,4.490498,68.000000,68.714286,40.714286,1.0,0.0
73,2017-01-06,4.74,4.66,4.66,4.74,18234800.0,4.515630,70.000000,72.142857,41.142857,1.0,0.0
73,2017-01-09,4.79,4.74,4.75,4.76,13204800.0,4.534182,72.428571,81.714286,41.142857,1.0,0.0
73,2017-01-10,4.80,4.75,4.76,4.80,15809700.0,4.546839,70.857143,84.428571,40.285714,1.0,0.0
73,2017-01-11,4.83,4.80,4.81,4.82,19984100.0,4.567585,69.285714,87.142857,39.428571,1.0,0.0
73,2017-01-12,4.87,4.82,4.82,4.86,23162100.0,4.585673,67.714286,89.857143,38.571429,0.0,0.0
73,2017-01-13,4.88,4.81,4.85,4.82,11672300.0,4.591469,66.142857,92.571429,37.714286,0.0,0.0
73,2017-01-16,4.82,4.71,4.82,4.72,19593700.0,4.579002,67.571429,98.285714,36.714286,1.0,0.0
73,2017-01-17,4.75,4.71,4.72,4.74,13155400.0,4.588270,72.142857,98.571429,37.428571,1.0,0.0
73,2017-01-18,4.82,4.74,4.74,4.82,19247000.0,4.597981,76.714286,98.857143,38.142857,0.0,0.0
73,2017-01-19,4.84,4.79,4.83,4.82,11505300.0,4.601234,81.285714,99.142857,38.857143,1.0,0.0
73,2017-01-20,4.86,4.82,4.82,4.84,19609400.0,4.600769,85.857143,99.428571,39.571429,1.0,0.0
73,2017-01-23,4.88,4.80,4.80,4.88,23353600.0,4.662522,89.857143,92.571429,39.857143,1.0,0.0
73,2017-01-24,4.93,4.86,4.88,4.92,32865800.0,4.693482,84.714286,85.142857,38.714286,1.0,0.0
72,2017-01-25,4.97,4.92,4.93,4.96,22045300.0,4.709874,82.142857,81.428571,38.142857,1.0,0.0
73,2017-01-26,5.02,4.95,4.96,5.02,30947000.0,4.712535,73.142857,73.285714,37.857143,0.0,0.0
73,2017-01-27,5.02,4.96,5.02,5.00,7421100.0,4.715181,69.285714,72.571429,38.714286,0.0,0.0
73,2017-01-31,5.01,4.91,5.00,4.97,6884300.0,4.835481,65.428571,71.857143,39.571429,0.0,0.0
73,2017-02-02,5.00,4.94,5.00,4.95,7697500.0,4.850431,57.714286,70.428571,41.285714,1.0,0.0
73,2017-02-03,4.98,4.93,4.95,4.97,9580100.0,4.856301,54.142857,64.714286,43.000000,0.0,0.0
73,2017-02-06,5.00,4.96,4.97,4.97,11135800.0,4.895363,58.285714,60.428571,43.000000,0.0,0.0
73,2017-02-07,4.98,4.92,4.97,4.97,10250700.0,4.890722,62.428571,56.142857,43.000000,1.0,0.0
73,2017-02-08,5.00,4.94,4.94,5.00,13899300.0,4.880606,66.571429,51.857143,43.000000,1.0,0.0
73,2017-02-10,5.15,5.06,5.08,5.08,24387100.0,4.882291,70.714286,47.571429,43.000000,1.0,0.0
73,2017-02-13,5.19,5.11,5.11,5.17,17998000.0,4.878327,76.857143,37.571429,43.142857,0.0,0.0
73,2017-02-14,5.18,5.15,5.17,5.17,18436200.0,4.857446,74.714286,36.142857,43.285714,0.0,0.0
70,2017-02-15,5.18,5.15,5.17,5.17,17645500.0,4.840458,72.571429,34.714286,43.428571,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
73,2017-11-08,6.25,6.18,6.23,6.18,5833900.0,6.138371,45.857143,12.142857,44.714286,1.0,0.0
73,2017-11-09,6.24,6.16,6.16,6.21,5458100.0,6.118317,44.142857,11.857143,44.285714,0.0,0.0
73,2017-11-10,6.24,6.18,6.22,6.18,8262300.0,6.099950,42.428571,11.571429,43.857143,0.0,0.0
10,2017-11-13,6.20,6.13,6.18,6.13,7824000.0,6.092663,42.142857,11.714286,42.428571,0.0,1.0
73,2017-11-14,6.18,6.05,6.13,6.09,7904400.0,6.080079,45.285714,12.428571,41.857143,0.0,0.0
9,2017-11-15,6.11,6.00,6.09,6.00,12182400.0,6.056164,48.428571,13.142857,41.285714,0.0,0.0
8,2017-11-16,6.03,5.88,5.93,5.92,11864600.0,6.030843,51.571429,13.857143,40.714286,1.0,1.0
73,2017-11-17,6.02,5.92,5.93,6.00,12502900.0,6.013661,54.714286,14.571429,40.142857,0.0,0.0
73,2017-11-20,6.02,5.98,6.00,5.98,8121700.0,5.981160,59.142857,16.285714,39.142857,0.0,0.0
73,2017-11-21,6.00,5.95,5.97,5.95,7720500.0,5.962014,57.285714,16.571429,39.285714,0.0,0.0
73,2017-11-22,5.98,5.94,5.96,5.95,11100400.0,5.949743,55.428571,16.857143,39.428571,1.0,0.0
5,2017-11-23,6.06,5.95,5.97,5.98,6929200.0,5.952610,53.571429,17.142857,39.571429,0.0,0.0
6,2017-11-23,6.06,5.95,5.97,5.98,6929200.0,5.952610,53.571429,17.142857,39.571429,0.0,1.0
7,2017-11-23,6.06,5.95,5.97,5.98,6929200.0,5.952610,53.571429,17.142857,39.571429,0.0,0.0
73,2017-11-24,5.99,5.96,5.98,5.98,4506300.0,5.967037,51.714286,17.428571,39.714286,0.0,0.0
73,2017-11-27,6.00,5.93,6.00,5.97,6946000.0,5.962411,46.142857,17.714286,41.142857,0.0,0.0
4,2017-11-28,5.97,5.93,5.95,5.93,11081800.0,5.948344,44.285714,17.428571,42.285714,1.0,1.0
73,2017-11-29,5.97,5.91,5.95,5.94,11308300.0,5.950105,42.428571,17.142857,43.428571,1.0,0.0
3,2017-11-30,6.09,5.94,5.94,6.05,47423000.0,5.970498,40.571429,16.857143,44.571429,0.0,0.0
73,2017-12-01,6.05,6.05,6.05,6.05,0.0,5.997945,38.714286,16.571429,45.714286,0.0,0.0
73,2017-12-04,6.03,5.95,6.01,5.95,19065500.0,6.019367,37.142857,15.428571,47.857143,1.0,0.0
73,2017-12-05,6.00,5.95,5.95,5.97,11611300.0,6.023247,39.285714,14.857143,47.714286,0.0,0.0
2,2017-12-06,6.02,5.95,5.95,5.97,21382900.0,6.038819,41.428571,14.285714,47.571429,0.0,0.0
1,2017-12-07,6.04,5.97,6.00,5.97,23724000.0,6.059920,43.571429,13.714286,47.428571,0.0,1.0
73,2017-12-08,5.99,5.95,5.97,5.96,8558200.0,6.075789,45.714286,13.142857,47.285714,0.0,0.0
73,2017-12-11,5.97,5.92,5.92,5.95,9418900.0,6.101172,49.714286,11.857143,45.857143,1.0,0.0
73,2017-12-12,6.19,5.93,5.94,6.18,5912300.0,6.128604,49.428571,11.714286,44.714286,0.0,0.0
73,2017-12-13,6.25,6.07,6.16,6.18,14576200.0,6.162211,49.142857,11.571429,43.571429,1.0,0.0
73,2017-12-14,6.44,6.15,6.18,6.37,26865200.0,6.190018,48.857143,11.428571,42.428571,0.0,0.0
73,2017-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [74]:
merged_dataframe.dropna().head()

,Date,High,Low,Open,Close,Volume,yhat,us_china,trump,malaysia,Score,target_cls
0,2017-01-02,4.51,4.51,4.51,4.51,0.0,4.422928,62.0,58.428571,39.428571,0.0,1.0
1,2017-01-03,4.57,4.51,4.53,4.54,12056200.0,4.438930,64.0,61.857143,39.857143,0.0,1.0
2,2017-01-04,4.62,4.54,4.54,4.60,19551700.0,4.461632,66.0,65.285714,40.285714,0.0,1.0
3,2017-01-05,4.67,4.60,4.62,4.66,20520700.0,4.490498,68.0,68.714286,40.714286,0.0,1.0
4,2017-01-06,4.74,4.66,4.66,4.74,18234800.0,4.515630,70.0,72.142857,41.142857,0.0,1.0

In [61]:
# Push the Label column to the end of the dataframe
cols = list(merged_dataframe)
print(cols)
cols.append(cols.pop(cols.index('target_cls')))
merged_dataframe = merged_dataframe.loc[:, cols]
merged_dataframe.head()

['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'yhat', 'us_china', 'trump', 'malaysia', 'Score', 'target_cls']

,Date,High,Low,Open,Close,Volume,yhat,us_china,trump,malaysia,Score,target_cls
0,2017-01-02,4.51,4.51,4.51,4.51,0.0,4.422928,62.0,58.428571,39.428571,0.0,1.0
1,2017-01-03,4.57,4.51,4.53,4.54,12056200.0,4.438930,64.0,61.857143,39.857143,0.0,1.0
2,2017-01-04,4.62,4.54,4.54,4.60,19551700.0,4.461632,66.0,65.285714,40.285714,0.0,1.0
3,2017-01-05,4.67,4.60,4.62,4.66,20520700.0,4.490498,68.0,68.714286,40.714286,0.0,1.0
4,2017-01-06,4.74,4.66,4.66,4.74,18234800.0,4.515630,70.0,72.142857,41.142857,0.0,1.0

In [68]:
# Separate the dataframe for input(X) and output variables(y)
# merged_dataframe = merged_dataframe.dropna()
X = merged_dataframe.loc[:,'High':'Score']
y = merged_dataframe.loc[:,'target_cls']
# Set the validation size, i.e the test set to 20%
validation_size = 0.20
# Split the dataset to test and train sets
# Split the initial 70% of the data as training set and the remaining 30% data as the testing set
train_size = int(len(X.index) * 0.7)
print(len(y))
print(train_size)

243
170

In [69]:
X_train, X_test = X.loc[0:train_size, :], X.loc[train_size: len(X.index), :]
y_train, y_test = y[0:train_size+1], y.loc[train_size: len(X.index)]
print('Observations: %d' % (len(X.index)))
print('X Training Observations: %d' % (len(X_train.index)))
print('X Testing Observations: %d' % (len(X_test.index)))
print('y Training Observations: %d' % (len(y_train)))
print('y Testing Observations: %d' % (len(y_test)))

Observations: 243
X Training Observations: 171
X Testing Observations: 73
y Training Observations: 171
y Testing Observations: 73

In [83]:
merged_dataframe.to_csv('merged_df.csv', index=False)

In [70]:
# MOdels
num_folds = 10
scoring = 'accuracy'
# Append the models to the models list
models = []
models.append(('LR' , LogisticRegression()))
models.append(('LDA' , LinearDiscriminantAnalysis()))
models.append(('KNN' , KNeighborsClassifier()))
models.append(('CART' , DecisionTreeClassifier()))
models.append(('NB' , GaussianNB()))
models.append(('SVM' , SVC()))
models.append(('RF' , RandomForestClassifier(n_estimators=50)))
models.append(('XGBoost', XGBClassifier()))

In [72]:
# Evaluate each algorithm for accuracy
results = []
names = []
'''
for name, model in models:
    kfold = KFold(n_splits=num_folds, random_state=42)
    cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg) '''

for name, model in models:
    clf = model
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accu_score = accuracy_score(y_test, y_pred)
    print(name + ": " + str(accu_score))

LR: 0.5753424657534246
LDA: 0.3698630136986301
KNN: 0.4794520547945205
CART: 0.5342465753424658
NB: 0.4520547945205479
SVM: 0.6027397260273972

/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

RF: 0.4520547945205479
XGBoost: 0.4383561643835616

In [77]:
# The best model = SVM, 
scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)
model_svm = SVC()
model_svm.fit(rescaledX, y_train)
# estimate accuracy on validation dataset
rescaledValidationX = scaler.transform(X_test)
predictions = model_svm.predict(rescaledValidationX)
print("accuracy score:")
print(accuracy_score(y_test, predictions))
print("confusion matrix: ")
print(confusion_matrix(y_test, predictions))
print("classification report: ")
print(classification_report(y_test, predictions))

model_xgb = XGBClassifier()
model_xgb.fit(rescaledX, y_train)
# estimate accuracy on validation dataset
rescaledValidationX = scaler.transform(X_test)
predictions = model_xgb.predict(rescaledValidationX)
print("accuracy score:")
print(accuracy_score(y_test, predictions))
print("confusion matrix: ")
print(confusion_matrix(y_test, predictions))
print("classification report: ")
print(classification_report(y_test, predictions))

accuracy score:
0.4657534246575342
confusion matrix:
[[16 27]
 [12 18]]
classification report:
              precision    recall  f1-score   support

         0.0       0.57      0.37      0.45        43
         1.0       0.40      0.60      0.48        30

   micro avg       0.47      0.47      0.47        73
   macro avg       0.49      0.49      0.47        73
weighted avg       0.50      0.47      0.46        73

accuracy score:
0.4383561643835616
confusion matrix:
[[15 28]
 [13 17]]
classification report:
              precision    recall  f1-score   support

         0.0       0.54      0.35      0.42        43
         1.0       0.38      0.57      0.45        30

   micro avg       0.44      0.44      0.44        73
   macro avg       0.46      0.46      0.44        73
weighted avg       0.47      0.44      0.44        73

In [78]:
# Scaling Random Forests
model_rf = RandomForestClassifier(n_estimators=1000)
model_rf.fit(rescaledX, y_train)
# estimate accuracy on validation dataset
rescaledValidationX = scaler.transform(X_test)
predictions = model_rf.predict(rescaledValidationX)
print("accuracy score:")
print(accuracy_score(y_test, predictions))
print("confusion matrix: ")
print(confusion_matrix(y_test, predictions))
print("classification report: ")
print(classification_report(y_test, predictions))

accuracy score:
0.4520547945205479
confusion matrix:
[[ 9 34]
 [ 6 24]]
classification report:
              precision    recall  f1-score   support

         0.0       0.60      0.21      0.31        43
         1.0       0.41      0.80      0.55        30

   micro avg       0.45      0.45      0.45        73
   macro avg       0.51      0.50      0.43        73
weighted avg       0.52      0.45      0.41        73

In [79]:
# XGBoost on Stock Price dataset, Tune n_estimators and max_depth
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
import matplotlib

matplotlib.use('Agg')
model = XGBClassifier()
n_estimators = [150, 200, 250, 450, 500, 550, 1000]
max_depth = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(max_depth)
best_depth = 0
best_estimator = 0
max_score = 0
for n in n_estimators:
    for md in max_depth:
        model = XGBClassifier(n_estimators=n, max_depth=md)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        score = accuracy_score(y_test, y_pred)
        if score > max_score:
            max_score = score
            best_depth = md
            best_estimator = n
        print("Score is " + str(score) + " at depth of " + str(md) + " and estimator " + str(n))
print("Best score is " + str(max_score) + " at depth of " + str(best_depth) + " and estimator of " + str(best_estimator))

/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/kernelapp.py", line 478, in start
    self.io_loop.start()
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/zmq/eventloop/ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/tornado/ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2728, in run_cell
    self.events.trigger('post_run_cell')
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/IPython/core/events.py", line 74, in trigger
    func(*args, **kwargs)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/ipykernel/pylab/backend_inline.py", line 160, in configure_once
    activate_matplotlib(backend)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/IPython/core/pylabtools.py", line 308, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/matplotlib/pyplot.py", line 232, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/matplotlib/__init__.py", line 1305, in use
    reload(sys.modules['matplotlib.backends'])
  File "/Users/mhafizhussin/anaconda2/lib/python2.7/site-packages/matplotlib/backends/__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  import sys

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Score is 0.4794520547945205 at depth of 1 and estimator 150
Score is 0.4520547945205479 at depth of 2 and estimator 150
Score is 0.4520547945205479 at depth of 3 and estimator 150
Score is 0.4520547945205479 at depth of 4 and estimator 150
Score is 0.4657534246575342 at depth of 5 and estimator 150
Score is 0.4520547945205479 at depth of 6 and estimator 150
Score is 0.4246575342465753 at depth of 7 and estimator 150
Score is 0.4794520547945205 at depth of 8 and estimator 150
Score is 0.4657534246575342 at depth of 9 and estimator 150
Score is 0.4657534246575342 at depth of 10 and estimator 150
Score is 0.4520547945205479 at depth of 11 and estimator 150
Score is 0.4520547945205479 at depth of 12 and estimator 150
Score is 0.4794520547945205 at depth of 1 and estimator 200
Score is 0.4246575342465753 at depth of 2 and estimator 200
Score is 0.4657534246575342 at depth of 3 and estimator 200
Score is 0.4931506849315068 at depth of 4 and estimator 200
Score is 0.4794520547945205 at depth of 5 and estimator 200
Score is 0.4520547945205479 at depth of 6 and estimator 200
Score is 0.4383561643835616 at depth of 7 and estimator 200
Score is 0.4657534246575342 at depth of 8 and estimator 200
Score is 0.4657534246575342 at depth of 9 and estimator 200
Score is 0.4657534246575342 at depth of 10 and estimator 200
Score is 0.4520547945205479 at depth of 11 and estimator 200
Score is 0.4520547945205479 at depth of 12 and estimator 200
Score is 0.4931506849315068 at depth of 1 and estimator 250
Score is 0.4794520547945205 at depth of 2 and estimator 250
Score is 0.4520547945205479 at depth of 3 and estimator 250
Score is 0.4794520547945205 at depth of 4 and estimator 250
Score is 0.4657534246575342 at depth of 5 and estimator 250
Score is 0.4520547945205479 at depth of 6 and estimator 250
Score is 0.4246575342465753 at depth of 7 and estimator 250
Score is 0.4794520547945205 at depth of 8 and estimator 250
Score is 0.4794520547945205 at depth of 9 and estimator 250
Score is 0.4657534246575342 at depth of 10 and estimator 250
Score is 0.4520547945205479 at depth of 11 and estimator 250
Score is 0.4794520547945205 at depth of 12 and estimator 250
Score is 0.4931506849315068 at depth of 1 and estimator 450
Score is 0.4794520547945205 at depth of 2 and estimator 450
Score is 0.5068493150684932 at depth of 3 and estimator 450
Score is 0.4794520547945205 at depth of 4 and estimator 450
Score is 0.4520547945205479 at depth of 5 and estimator 450
Score is 0.4520547945205479 at depth of 6 and estimator 450
Score is 0.4383561643835616 at depth of 7 and estimator 450
Score is 0.4657534246575342 at depth of 8 and estimator 450
Score is 0.4931506849315068 at depth of 9 and estimator 450
Score is 0.4794520547945205 at depth of 10 and estimator 450
Score is 0.4657534246575342 at depth of 11 and estimator 450
Score is 0.4657534246575342 at depth of 12 and estimator 450
Score is 0.4931506849315068 at depth of 1 and estimator 500
Score is 0.4657534246575342 at depth of 2 and estimator 500
Score is 0.4931506849315068 at depth of 3 and estimator 500
Score is 0.4794520547945205 at depth of 4 and estimator 500
Score is 0.4383561643835616 at depth of 5 and estimator 500
Score is 0.4657534246575342 at depth of 6 and estimator 500
Score is 0.4383561643835616 at depth of 7 and estimator 500
Score is 0.4657534246575342 at depth of 8 and estimator 500
Score is 0.4931506849315068 at depth of 9 and estimator 500
Score is 0.4794520547945205 at depth of 10 and estimator 500
Score is 0.4794520547945205 at depth of 11 and estimator 500
Score is 0.4657534246575342 at depth of 12 and estimator 500
Score is 0.4931506849315068 at depth of 1 and estimator 550
Score is 0.4794520547945205 at depth of 2 and estimator 550
Score is 0.4931506849315068 at depth of 3 and estimator 550
Score is 0.4657534246575342 at depth of 4 and estimator 550
Score is 0.4383561643835616 at depth of 5 and estimator 550
Score is 0.4657534246575342 at depth of 6 and estimator 550
Score is 0.4383561643835616 at depth of 7 and estimator 550
Score is 0.4931506849315068 at depth of 8 and estimator 550
Score is 0.5068493150684932 at depth of 9 and estimator 550
Score is 0.4794520547945205 at depth of 10 and estimator 550
Score is 0.4794520547945205 at depth of 11 and estimator 550
Score is 0.4520547945205479 at depth of 12 and estimator 550
Score is 0.4794520547945205 at depth of 1 and estimator 1000
Score is 0.4931506849315068 at depth of 2 and estimator 1000
Score is 0.4931506849315068 at depth of 3 and estimator 1000
Score is 0.4931506849315068 at depth of 4 and estimator 1000
Score is 0.4520547945205479 at depth of 5 and estimator 1000
Score is 0.4794520547945205 at depth of 6 and estimator 1000
Score is 0.4657534246575342 at depth of 7 and estimator 1000
Score is 0.4931506849315068 at depth of 8 and estimator 1000
Score is 0.5068493150684932 at depth of 9 and estimator 1000
Score is 0.4931506849315068 at depth of 10 and estimator 1000
Score is 0.4931506849315068 at depth of 11 and estimator 1000
Score is 0.4931506849315068 at depth of 12 and estimator 1000
Best score is 0.5068493150684932 at depth of 3 and estimator of 450

In [80]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
pca.fit(X)
transformed = pca.transform(X)

transformed.shape
print(type(transformed))

<type 'numpy.ndarray'>

In [81]:
pca_df = pd.DataFrame(transformed)

X_train_pca, X_test_pca = pca_df.loc[0:train_size, :], pca_df.loc[train_size: len(X.index), :]

clf = XGBClassifier(n_estimators=500, max_depth=3)
clf.fit(X_train_pca, y_train)
y_pred_pca = clf.predict(X_test_pca)
score = accuracy_score(y_test, y_pred_pca)
print("Score is "+ str(score))

Score is 0.4383561643835616